# Supabase
NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_eE6HbyAzRAexamJZTIQ86w_F2kYiocZ

# TossPayments
NEXT_PUBLIC_TOSS_PAYMENTS_CLIENT_KEY=your_toss_client_key
TOSS_PAYMENTS_SECRET_KEY=your_toss_secret_key
